<aside>
    <div ngClass="logginButton">
        <a routerLink=""><i class="fa-solid fa-house"></i></a>
    </div>
    <div ngClass="logginButton">
        Genere
        <ul ngClass="infoUser">
            <li *ngFor="let genre of arrayGenre">
                 <a href="archive/{{genre.id}}">{{genre.name}}</a>
            </li>
            
        </ul>
    </div>
    <div ngClass="logginButton">
        Account
           <ul ngClass="infoUser">
               <li>
                    <a routerLink="/logins">Login</a>
               </li>
               <li>
                    <a routerLink="/signup">Sign Up</a>
               </li>
               <li>
                    <a routerLink="">LogOut</a>
               </li>
           </ul>
    </div>
    <div ngClass="logginButton">
        <a routerLink="archive/0">Archivio</a>
    </div>
    
</aside>