@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  box-sizing: border-box;
}

.movie-card{
  height: 80vh;
  overflow-y: scroll;
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
}
.container{
  height: 50vh;
  background-position: center;
  background-size: cover;
}
.row,.row2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.row{
 padding: 50px;
 flex-wrap: wrap;
 overflow-y: scroll;
 max-height: 60vh;
 overflow-y: scroll;

}
.hero{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.title1 {
  color: white;
  font-size: 44px;
  margin-bottom: 13px;
  position: relative;
}
span {
  top: 3px;
  margin-left: 12px;
  background: #C4AF3D;
  border-radius: 5px;
  color: #544C21;
  font-size: 14px;
  padding: 0px 4px;
  
}
.column1 {
  width: 220px;
  text-align: center;


.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
  }
  .tag:hover {
    background: #ddd;
  }
}
.avatars {
  margin-top: 23px;
  
  img {
    cursor: pointer;
    margin: 10px;
  }
  
  img:hover {
    opacity: 0.6;
  }
  
  a:hover {
    text-decoration: none;
  }
}
a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}
//star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  text-align: center;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


