$sfondo : rgba(211, 211, 211, 0.722);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
main{
    width: 89vw;
    height: 90vh;
    background-color: $sfondo;
}
main::-webkit-scrollbar{
    width: 5px;
}
