<div ngClass="containerLogin">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email" required="">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" required="">
          </mat-form-field>
        </p>

        <button type="submit" (click)="logInWithPassword()" mat-stroked-button color="accent"
          class="btn-block">Accedi</button>
        <div *ngIf="logInMessage == 'credenziali non esistenti'" class="error">
          {{logInMessage}} <br>
          <a mat-button routerLink="../signup">registrati</a>
        </div>


        <div>
          <mat-card-subtitle>oppure...</mat-card-subtitle>
          <mat-card-content>
            <button (click)="loginWithGoogle()" type="button" mat-stroked-button color="accent" class="btn-block"
              style="color: black;">Login con google</button>
          </mat-card-content>
        </div>


      </form>
    </mat-card-content>
  </mat-card>
</div>