.Cart-Container{
    max-width: 700px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    button{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
    }
.Container-Items{
    overflow-y: scroll;
    max-height: 300px;
}
.Empty-Box{
    min-height: 200px;
}
.Cart-Items{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    margin: 0px 10px;
}

.Header , .Cart-Items{
   display: flex;
   justify-content: space-between;
   padding: 10px;
   align-items: center;
}
.about{
    padding: 10px;
    text-align: left;
    width: 150px;
 }
.box,.counter{
    display: flex;
    flex-direction: column;
}
.checkout{
    text-align: center;
    padding: 10px;
    height: 50px;
}
.checkout>div{
    width: 100px;
}
