.card {
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
  padding: 0px;
}
button:active {
  background-color: rgb(255, 255, 255);
}
.cart{
    position: fixed;
    width: 100%;
    max-width: 700px;
    top: 100px;
   left: 50%;
   transform: translate(-50%,0%);
}
.buttonCart{
    position: fixed;
    right: 15px;
    button {
      width: 80px;
      height: 30px;
      border-top: 80px solid white;
      border-left: 80px solid transparent;
      background-color: transparent;
    }
    button:active {
      background-color: transparent;
    }
}
