<div *ngIf="userLogFlag=='true'" class="card">
    <div class="buttonCart">
        <button (click)="cart()">
            <img width="50px" style="position: absolute;top:0px;right: 10px;" src="../../../assets/—Pngtree—gold stars_370246.png" alt="">
        </button>
    </div>
    <div class="cart" *ngIf="cartFlag">
        <app-cart [arrayFilm]="arrayWishlist"></app-cart>
    </div>
    <div class="">
        <div >
            <div class="rounded-top text-white d-flex" style="background-color: #000; height:200px;color: white;">
                <div class="ms-4 mt-5" style="text-align: center;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                        alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                        style="width: 150px; z-index: 1">
                        <h3>
                            {{arrayUsers[userId].username}}
                        </h3>
                </div>

            </div>

            <div class="p-4 text-black">
                <div class="mb-4" style="display: flex;justify-content: space-between;align-items: stretch ;">
                    <h2 class="lead fw-normal mb-0">WishList </h2>
                </div>
                <div>
                    <input (ngModelChange)="cercaFilm('WishList')" value="{{filtro}}" [(ngModel)]="filtro" type="text" placeholder="cerca">
                </div>
                <div class="g-2" style="display: flex;align-items: stretch;overflow-x: scroll;">
                    <div *ngFor="let film of arrayWishlist" style="width:250px;margin: 10px;">
                        <div>
                            <button (click)="deleteWhishList(film)" style="background-color: transparent;border: none;">
                                <img width="30px" src="../../../assets/circle-xmark-regular.svg" alt="">
                            </button>
                        </div>
                        <a href="www.youtube.com/results?search_query={{film.original_title}}" target="_blank">
                            <img width="250px" src="https://image.tmdb.org/t/p/original/{{film.poster_path}}" alt="">
                        </a>
                        <h2>{{film.original_title}}</h2>
                    </div>
                </div>
            </div>
            <div class="p-4 text-black">
                <div class="mb-4" style="display: flex;justify-content: space-between;align-items: stretch ;">
                    <h2 class="lead fw-normal mb-0">Favourite </h2>
                </div>
                <div>
                    <input (ngModelChange)="cercaFilm('favourite')" value="{{filtro}}" type="text" [(ngModel)]="filtro" placeholder="cerca">
                </div>
                <div class="g-2" style="display: flex;align-items: stretch;overflow-x: scroll;">
                    <div *ngFor="let film of arrayFavourites" style="width:250px;margin: 10px;">
                        <div>
                            <button (click)="deleteFavourite(film)" style="background-color: transparent;border: none;">
                                <img width="30px" src="../../../assets/circle-xmark-regular.svg" alt="">
                            </button>
                        </div>
                        <a href="www.youtube.com/results?search_query={{film.original_title}}" target="_blank">
                            <img width="250px" src="https://image.tmdb.org/t/p/original/{{film.poster_path}}" alt="">
                        </a>
                        <h2>{{film.original_title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="userLogFlag=='false'">
    <h1>devi Loggarti <a href="login">Accedi</a></h1>
</div>
