<div class="card">
  <div class="">
    <div>
      <div class="userInfo-block">
        <div class="userImage">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
            alt="Generic placeholder image">
        </div>
        <div *ngIf="userAuth$ | async">
          <h3>
            <div>Username:</div> {{username}}
          </h3>
          <h3>
            <span>E-mail:</span> {{email}}
          </h3>
          <h3>
            <span>Nascita:</span> {{birthDay}}
          </h3>
          <h3>
            <span>Sesso:</span> {{gender}}
          </h3>
        </div>
      </div>

      <!-- <pre>{{user$| async | json}}</pre> -->

      <div>
        <app-favourite></app-favourite>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="userLogFlag=='false'">
  <h1>devi Loggarti <a href="login">Accedi</a></h1>
</div> -->
