<div class="card">
  <div class="">
    <div>
      <div class="userInfo-block">
        <div class="userImage">
          <img [src]="user?.image" alt="Generic placeholder image">
          <div class="linkImgUpdate">
            <label for="">Select profile picture *</label><br>
            <input type="file" formControlName="img" required (change)="inserisciImg($event)"
              accept=".jpg , .png , .jfif , .jpeg" mat-stroked-button color="accent">
          </div>
        </div>
        <div *ngIf="userAuth$ | async">
          <h3>
            <span>Username:</span> {{user?.username}}
          </h3>
          <h3>
            <span>E-mail:</span> {{email}}
          </h3>
          <h3>
            <span>Nascita:</span> {{user?.date}}
          </h3>
          <h3>
            <span>Sesso:</span> {{user?.gender}}
          </h3>
        </div>
      </div>

      <!-- <pre>{{user$| async | json}}</pre> -->

      <div>
        <app-favourite [username]="user?.username"></app-favourite>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="userLogFlag=='false'">
  <h1>devi Loggarti <a href="login">Accedi</a></h1>
</div> -->