.card {
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
  padding: 0px;
  background-image: url('https://freefrontend.com/assets/img/css-background-patterns/simple-pattern-with-css3.png') ;
  background-position: center;
  background-size: cover;
}
button:active {
  background-color: rgb(255, 255, 255);
}
