// linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
div{
    position: relative;
    width: 89vw;
    height: 80vh;
    overflow-y: scroll;
    background-position: center;
    background-size: cover;
    
}
div::-webkit-scrollbar{
    width: 5px;
}
.footer{
    position: fixed;
      bottom:0px;
      left: 10vw;
     
}
