*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
div{
    position: relative;
    width: 89vw;
    height: 80vh;
    overflow-y: scroll;
    background-color: lightgray;
}
div::-webkit-scrollbar{
    width: 5px;
}
