<aside>
    <ul>
        <li>
            <a routerLink="">
                <img width="100px" src="https://img.freepik.com/free-psd/logo-mockup-grey-wall_35913-2122.jpg" alt="">
            </a>
        </li>
        <li ngClass="logginButton">
            <a routerLink="/logins">Login</a>
        </li>
        <li ngClass="logginButton">
            logout
        </li>
        <li ngClass="logginButton">
            <a routerLink="/signup">Sign Up</a>
        </li>
        <li ngClass="logginButton">
            <a routerLink="archive">Archivio</a>
        </li>
    </ul>
</aside>