<aside>
    <!-- moved to header - martina 05/06
      <div ngClass="sideBarButton">
        <a mat-button routerLink="">
            Home
        </a>
    </div> -->
    <div mat-icon-button color="accent" *ngIf="userLogFlag!='true'" ngClass="sideBarButton">


      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person_outline</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">Login</button>
        <button mat-menu-item routerLink="/signup">Sign Up</button>
      </mat-menu>

    </div>
    <div *ngIf="userLogFlag=='true'" ngClass="sideBarButton">
      {{arrayUser[0].username}}
         <ul ngClass="infoUser">
             <li>
                  <a routerLink="user/{{userId}}">User</a>
             </li>
             <li>
                  <a href="" (click)="logOut()">LogOut</a>
              </li>
         </ul>
  </div>
    <div ngClass="sideBarButton">
        <a mat-button routerLink="archive/0"><mat-icon>folder</mat-icon></a>


        <ul ngClass="infoUser">
          <li *ngFor="let genre of arrayGenre">
            <a mat-button href="archive/{{genre.id}}">{{genre.name}}</a>
          </li>
       </ul>

    </div>

    <!-- <div ngClass="sideBarButton">
      Genere
      <ul ngClass="infoUser">
          <li *ngFor="let genre of arrayGenre">
               <a href="archive/{{genre.id}}">{{genre.name}}</a>
          </li>

      </ul> -->
  <!-- </div> -->

  </aside>
