<aside>
    <!-- moved to header - martina 05/06
      <div ngClass="sideBarButton">
        <a mat-button routerLink="">
            Home
        </a>
    </div> -->
    <div mat-icon-button color="accent" *ngIf="userLogFlag!='true'" ngClass="sideBarButton">


      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person_outline</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">Login</button>
        <button mat-menu-item routerLink="/signup">Sign Up</button>
      </mat-menu>

    </div>
    <div *ngIf="userLogFlag=='true'" ngClass="sideBarButton">


      <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">admin_panel_settings</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="user/{{userId}}">User</button>
        <button mat-menu-item (click)="logOut()"><a href="/"></a>LogOut</button>
      </mat-menu>



  </div>
    <div ngClass="sideBarButton">



        <button mat-button [matMenuTriggerFor]="Generi" routerLink="archive/0"><mat-icon>folder</mat-icon></button>
        <mat-menu #Generi="matMenu">


          <button *ngFor="let genre of arrayGenre" mat-menu-item routerLink="archive/{{genre.id}}">{{genre.name}}</button>

        </mat-menu>




    </div>

    <!-- <div ngClass="sideBarButton">
      Genere
      <ul ngClass="infoUser">
          <li *ngFor="let genre of arrayGenre">
               <a href="archive/{{genre.id}}">{{genre.name}}</a>
          </li>

      </ul> -->
  <!-- </div> -->

  </aside>
