*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.row{
    display: flex;
    text-align: center;
    width: 99vw;
    background-image: url('https://freefrontend.com/assets/img/css-background-patterns/simple-pattern-with-css3.png') ;
    background-position: center;
    background-size: cover;
}