@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
h1,h2,h3,h4,h5{
    font-family: 'Bebas Neue', cursive;
}
p{
    font-family: 'Comfortaa', cursive;
}
.row{
    display: flex;
    text-align: center;
    width: 99vw;
    background-image: url('https://freefrontend.com/assets/img/css-background-patterns/simple-pattern-with-css3.png') ;
    background-position: center;
    background-size: cover;
}