.Cart-Container{
   
    button{
        background-color: #1e1b26;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}
.Container-Items{
    overflow-y: scroll;
    max-height: 300px;
}
.Empty-Box{
    min-height: 200px;
}
.Cart-Items{
    margin: 0px 10px;
}


.checkout{
    text-align: center;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        border: none;
    }
}
