<section>
  <div class="Cart-Container">
    <div class="Header">
      <h3 class="Heading">Recensioni</h3>
    </div>
    <div class="Empty-Box" *ngIf="arrayRecensioni.length<1">
      <h1>Non ci sono recensioni</h1>
      <h3>Vai all  <a routerLink="/archive/0">archivio</a></h3>
    </div>
    <div id="su" *ngIf="arrayRecensioni.length>0" class="Container-Items">
      <div class="Cart-Items">
        <div class="about">
          <div class="box">
            <h3>Username</h3>
            <h4 class="title">{{recensione.id_user}}</h4>
          </div>
        </div>
        <div class="counter">
          <h3>Recensione</h3>
          <p class="count">{{recensione.recensione}}</p>
          
        </div>
      </div>
      <hr>
    </div>
    <div class="checkout">
      <button style="background-color: #1e1b26;" (click)="slideShowLeft()">Left</button>
      <button style="background-color: #1e1b26;" (click)="close()">Chiudi</button>
      <button style="background-color: #1e1b26;" (click)="slideShowRight()">Right</button>
    </div>

  </div>
</section>