<div ngClass="containerArchive">
 <ul ngClass="listaInput">
  <li>
    <label for="filtro">filtro</label>
    <input type="text" placeholder="filtro" (ngModelChange)="getFilmsFromService(pageIndex)" [(ngModel)]="filtroTitle">
  </li>
  <li>
    <label for="filtro">filtro Genere</label>
    <select name="genre" id="genre" (ngModelChange)="getFilmsFromService(pageIndex)" [(ngModel)]="filtroGenre">
      <option *ngFor="let genre of arrayGenre" value="{{genre.id}}" >{{genre.name}}</option>
    </select>
  </li>
</ul>
  <div style="display: flex;flex-wrap:wrap;justify-content: space-around;align-items:stretch;margin-bottom: 50px;">
    <div *ngFor="let film of filmsResult " >

     <div class="card-container">
        <img src="https://image.tmdb.org/t/p/original/{{film.poster_path}}" alt="">
      <div ngClass="wishIcon">
        <button (click)="addFilmWishList(film)"><h5>WishList</h5><img src="../../../assets/—Pngtree—love heart outline_6044200.png" alt=""></button>
        <button><h5 id="bottonePreferiti">Preferiti</h5><img src="../../../assets/—Pngtree—gold stars_370246.png" alt=""></button>
      </div>
     </div>
     <h3 style="max-width: 250px;">{{film.original_title}}</h3>
    </div>

  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>
</div>
