<div ngClass="containerSignUp">

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>

      <form class="example-form" [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" required placeholder="Username">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" required placeholder="Ex. pat@example.com">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required placeholder="password">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required placeholder="Confirm Password">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sesso</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Female">Donna</mat-option>
              <mat-option value="Male">Uomo</mat-option>
              <mat-option value="Other">Altro...</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <label for="">image:</label>
            <input type="file" formControlName="img" (change)="inserisciImg($event)"
              accept=".jpg , .png , .jfif , .jpeg" mat-stroked-button color="accent">
          </div>

        </mat-card-content>

        <mat-error *ngIf="form.errors?.['passwordsDontMatch']">
          Le password non corrispodono
        </mat-error>

        <mat-error *ngIf="signUpMessage!=null">
          {{signUpMessage}}
        </mat-error>

        <!-- <mat-card-content>
          <button (click)="inserisci()" mat-stroked-button color="accent" class="btn-block"
            style="color: black;">inserisci dati </button>
        </mat-card-content>
 -->

        <mat-card-content>
          <button (click)="signUpWithPassword()" mat-stroked-button color="accent" class="btn-block"
            style="color: black;">Registrati</button>
        </mat-card-content>

        <!-- <div *ngIf="signUpMessage!='registrazione effettuata'"></div> -->

        <!-- <a mat-button *ngIf="signUpMessage=='registrazione effettuata'" routerLink="/insert">Accedi</a> -->


        <div>
          <mat-card-subtitle>oppure...</mat-card-subtitle>
          <mat-card-content>
            <button (click)="signUpWithGoogle()" type="button" mat-stroked-button color="accent" class="btn-block"
              style="color: black;">Login con google</button>
          </mat-card-content>
        </div>

      </form>
    </mat-card>

  </div>
</div>