<section ngClass="containerCards">
  <h4>{{nameGenre}}</h4>
  <div id="" *ngFor="let film of filmsResult " class="card-container">

    
      <img src="https://image.tmdb.org/t/p/original/{{film.poster_path}}" alt="">
      <h3>{{film.original_title}}</h3>
   
  <div ngClass="trailer">
    <a  href="https://www.youtube.com/results?search_query=l/{{film.original_title}}">
      <img width="60px" src="../../../assets/circle-play-solid.svg" alt="">
    </a>
  </div>
  <a href="film/{{film.id}}">Dettagli... </a>
  </div>
</section>
