<div class="jumbotron">
  <img width="100%" src="https://image.tmdb.org/t/p/original/{{film.backdrop_path}}" alt="Immagine slideShow"><br>
  <button id="left" (click)="slideShowPlus()"><img width="100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Greater_than.svg/1200px-Greater_than.svg.png" alt=""></button>
  <button id="right" (click)="slideShowMeno()"><img width="100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Font_Awesome_5_solid_less-than.svg/640px-Font_Awesome_5_solid_less-than.svg.png" alt=""></button>
  <a id="go" href="#categorie">Vai alle categorie</a>
  <div id="categorie">scorri</div>
</div>